langchain-qdrant
langchain-huggingface
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-openrouter
langchain-ollama
langchain-community
langgraph
langgraph-checkpoint
langchain-postgres
streamlit
fastapi[standart]
sqlalchemy
pydantic
argon2-cffi
pyjwt
aiogram
dark-swag
argon2-cffi
python-dotenv
uvicorn
langgraph-checkpoint-postgres