langchain-qdrant
langchain-huggingface
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-openrouter
langchain-ollama
langchain-community
langgraph
langgraph-checkpoint
langchain-postgres
streamlit
fastapi[standart]
sqlalchemy
pydantic
argon2-cffi
pyjwt
aiogram
dark-swag
psycopg2
psycopg2-binary
argon2-cffi
pydantic[email]
python-dotenv
uvicorn
langgraph-checkpoint-postgres
requests
pandas
plotly
